{% extends 'calendar.html.twig' %}

{% block body %}
    <div class="bd-cheatsheet container-fluid bg-body">
        <section id="content">
{#            <h2 class="sticky-xl-top fw-bold pt-3 pt-xl-5 pb-2 pb-xl-3">Contents</h2>#}

            <article class="my-3" id="typography">
                <div class="bd-heading sticky-xl-top align-self-start mt-5 mb-3 mt-xl-0 mb-xl-2">
{#                    <h3>Typography</h3>#}
{#                    <a class="d-flex align-items-center" href="#">Documentation</a>#}
                </div>

                <div>
                    {% block content %}
                        <p class="display-4">Calendar range, owner, other title</p>
                        <p class="h1">Month, maybe year</p>

                        <p class="lead">
                            Here must be placed instruction to choose date and time.
                        </p>
                        <p>
                            <a href="{{ path('calendar_show', {"id" : 1 }) }}" class="btn btn-outline btn-outline-primary btn-lg mr-4">12:00 &mdash; 13:00</a>
                            <a href="{{ path('calendar_show', {"id" : 2 }) }}" class="btn btn-outline btn-outline-secondary btn-lg mr-4">13:00 &mdash; 14:00</a>
                            <a href="{{ path('calendar_show', {"id" : 3 }) }}" class="btn btn-outline btn-outline-success btn-lg mr-4">15:00 &mdash; 16:00</a>
                        </p>

                        <div class="bd-example">
                            <blockquote class="blockquote">
                                <p>Calendar must be configurable for user roles of and (or) with controllers.</p>
                                <footer class="blockquote-footer">Someone famous in <cite title="Source Title">Source Title</cite></footer>
                            </blockquote>
                        </div>
                    {% endblock %}
                </div>
            </article>
        </section>
    </div>
{% endblock %}