{% extends 'admin/product/index.html.twig' %}

{% block page_header %}
    <div class="page-header-content header-elements-md-inline">
        <div class="page-title d-flex">
            <h4><i class="icon-arrow-left52 mr-2"></i> <span class="font-weight-semibold">Edit order</span></h4>
            <a href="#" class="header-elements-toggle text-default d-md-none"><i class="icon-more"></i></a>
        </div>
    </div>
{% endblock page_header %}

{% block content %}
    <div class="card">
        <div class="card-header header-elements-inline">
            <h5 class="card-title">{{ 'Order'|trans }}</h5>
        </div>
        <div class="card-body">
            {% form_theme form 'bootstrap_4_horizontal_layout.html.twig' %}
            {{ form(form) }}
        </div>

    </div>
{% endblock %}