{% extends 'base.html.twig' %}

{% block main %}
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h1> {{ product.title }}</h1>


            </div>
        </div>
    </div>
{% endblock %}
