{% extends 'product/index.html.twig' %}

{% block page_header %}
    <div class="page-header-content header-elements-md-inline">
        <div class="page-title d-flex">
            <h4><i class="icon-arrow-left52 mr-2"></i> <span class="font-weight-semibold">New product</span></h4>
            <a href="#" class="header-elements-toggle text-default d-md-none"><i class="icon-more"></i></a>
        </div>
    </div>
{% endblock page_header %}

{% block content %}
    <div class="card">
        <div class="card-header header-elements-inline">
            <h5 class="card-title">{{ 'Products'|trans }}</h5>
        </div>
        <div class="card-body">
            {{ product.title }}
            {{ product.destinationUrl }}
        </div>

    </div>
{% endblock %}