{% extends 'base.html.twig' %}

{% block main %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                {% include 'default/_flash_messages.html.twig' %}
                <h1>{{ 'Order'|trans }} {{ order.id }}</h1>
                <br>
                <p>{{ order.status }}</p>
            </div>
        </div>
    </div>

{% endblock %}